.schedule-page {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background: rgb(255 255 255 / 0.75);
    backdrop-filter: blur(8px);
    border-radius: 1.25rem;
    padding: clamp(1rem, 4vw, 2.5rem);
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 0.15);
}

.schedule-page h2 {
    margin-bottom: 1rem;
}

.schedule-summary {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
    justify-content: center;
}

@media (max-width: 600px) {
    .schedule-summary {
        flex-direction: column;
        gap: 0.5rem;
    }
}

.schedule-summary span {
    font-weight: 700;
}

.course-list {
    display: grid;
    gap: 1rem;
    list-style: none;
    padding: 1rem;
    border-radius: 1rem;
    grid-template-columns: 1fr;
    background: linear-gradient(135deg,
            rgb(15 23 42 / 0.95),
            rgb(30 41 59 / 0.92),
            rgb(51 65 85 / 0.88));
    backdrop-filter: blur(12px);

}

.course-list li {
    display: flex;
}

.course-card {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0.75rem;
    width: 100%;
    text-align: left;
}

.course-card h4 {
    font-size: 1.1rem;
    font-weight: 700;
}

.course-card span {
    font-weight: 700;
}

.course-link {
    display: inline;
    align-items: center;
    gap: 0.3rem;
    color: rgb(34, 72, 132);
    text-decoration: none;
    font-weight: 600;
    transition:
        color 0.2s ease,
        text-decoration-color 0.2s ease;
}

.course-link:visited {
    color: rgb(101, 124, 157);
}

.course-link:hover,
.course-link:focus-visible {
    color: rgb(15 23 42);
    text-decoration: underline;
    text-underline-offset: 0.15rem;
}

.course-link:active {
    color: rgb(51 65 85);
}

.external-icon {
    display: inline;
    vertical-align: text-bottom;
}

.course-card button {
    margin-top: auto;
    padding: 0.5rem;
    background: linear-gradient(135deg,
            rgb(15 23 42 / 0.95),
            rgb(30 41 59 / 0.92),
            rgb(51 65 85 / 0.88));
    backdrop-filter: blur(12px);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}


@media (min-width: 580px) {

    .course-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .course-list {
        grid-template-columns: repeat(3, 1fr);
    }
}