.site-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-image: url('/images/background.webp');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.main-content {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem;
}

@media (max-width: 760px) {
    .main-content {
        padding: 0.25rem;
    }
}

