<header class="site-header">
     <h1><a routerLink="/" class="logo">Kodakademin</a></h1>
     <nav class="main-nav" aria-label="Huvudmeny">
       <ul>
         <li routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/">Kodakademin</a>
        </li>
         <li routerLinkActive="current">
            <a routerLink="/kurser">Kurser</a>
        </li>
         <li routerLinkActive="current">
            <a routerLink="/ramschema">Ramschema</a>
        </li>
       </ul>
     </nav>
</header>
